<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Painel do Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <div class="controls-wrapper">
                    <input type="text" id="searchBar" placeholder="Pesquisar pelo nome do médico..." />
                    <div class="filter-section">
                        <select id="filterTime">
                            <option value="">Ordenar por horário</option>
                            <option value="asc">Ascendente</option>
                            <option value="desc">Descendente</option>
                        </select>
                        <select id="filterSpecialty">
                            <option value="">Filtrar por especialidade</option>
                        </select>
                    </div>
                </div>
                <div id="content"></div>
            </main>
            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>

    <script type="module" th:src="@{/js/services/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
</body>
</html>